<div class="row">
  <div class="offset-4 col-md-4">
      <h1 class='text-center'>
        Events Created By Me 
      </h1>
      <hr>
      <hr>
     
      <p >
        <% @user.created_events.each do |events| %>
          <%=events.description%>
          <br>
          <small> <%=events.event_date%> </small>
          <%= link_to 'Event', events %>
          <br>
          <br>
          <br>
        <% end %>
      </p>

  </div>
</div>